EXPO_PUBLIC_FIREBASE_API_KEY=your_firebase_api_key_here
EXPO_PUBLIC_FIREBASE_AUTH_DOMAIN=saarathi-331b4.firebaseapp.com
EXPO_PUBLIC_FIREBASE_PROJECT_ID=saarathi-331b4
EXPO_PUBLIC_FIREBASE_STORAGE_BUCKET=saarathi-331b4.firebasestorage.app
EXPO_PUBLIC_FIREBASE_MESSAGING_SENDER_ID=404569610018
EXPO_PUBLIC_FIREBASE_APP_ID=1:404569610018:web:2f7d67bbb516202dd9b77b
EXPO_PUBLIC_FIREBASE_MEASUREMENT_ID=G-YTY130STLF
